<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="Gover_Zachary_Project3"/>
<stringAttribute key="device_id" value="3A32C30E-89C6-4CF6-8594-9A07FBBB12E6"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Gover_Zachary_Project3"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.2"/>
<stringAttribute key="simulator_debug_config" value="192.168.0.9:57943"/>
<stringAttribute key="simulator_version" value="8.2"/>
</launchConfiguration>
